<?xml version="1.0" encoding="utf-8"?>
<BackupConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <BackupTarget>
    <Path />
  </BackupTarget>
  <BackupSource>
    <Path>C:\Users\andy</Path>
    <ExcludeFileTypes />
    <ExcludeDirs />
  </BackupSource>
  <Options>
    <CreateLogFile>true</CreateLogFile>
    <Verify>true</Verify>
    <GlobalExcludeFileTypes>.obj;</GlobalExcludeFileTypes>
    <GlobalExcludeDirs>AppData;obj;bin</GlobalExcludeDirs>
  </Options>
</BackupConfig>