<?xml version="1.0" encoding="utf-8" ?>

<BackupConfig>
  <BackupTarget>
    <!--<Path>C:/Users/andy/source/repos/ElephantBackup/backup</Path>-->
    <Verify>false</Verify>
  </BackupTarget>
  <BackupSource>
    <Path>C:\Users\andy\Documents</Path>
    <Exclude>*.rdp</Exclude>
  </BackupSource>
</BackupConfig>
